/* html, body {
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center;
    padding-bottom: 10px;
    background-image: url('./assets/images/morty.jpg');
  } */

html,
body {
  margin: 0;
  height: 100%;
  background-image: url("./assets/images/morty-mobile.jpg");
  background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  border-radius: 5px;
  border: 2px black solid;
}

.description {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 250px;
}

.footer {
  padding: 10px 0 10px 0;
}

button {
  width: 200px;
  height: 50px;
  background: #2737466b;
  border: 2px black solid;
  border-radius: 3px;
  color: white;
}

button:hover {
  border: 2px #7a7d23 solid;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 300px;
  outline: 2px black solid;
  display: grid;
  place-items: center;
  background: #212f3d6e;
  border-radius: 3px;
}

.container:hover {
  border: 3px #7a7d23 solid;
}

.title {
  margin: 10px 0 10px 0;
  width: 100%;
  max-width: 250px;
  text-align: center;
  background: #2737466b;
  color: white;
  border-radius: 5px;
  border: 2px black solid;
}

.containerIMG {
  max-width: 250px;
}

@media screen and (min-width: 400px) {
  html,
  body {
    margin: 0;
    height: 100%;
    background-image: url("./assets/images/morty-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  .container {
    width: 100%;
    max-width: 500px;
    outline: 2px black solid;
    display: grid;
    place-items: center;
    background: #212f3d6e;
    border-radius: 3px;
  }

  .container:hover {
    border: 3px #7a7d23 solid;
  }

  .title {
    outline: 0px black solid;
    margin: 10px 0 10px 0;
    width: 100%;
    max-width: 450px;
    text-align: center;
    border-radius: 3px;
    background: #2737466b;
    color: white;
  }

  .containerIMG {
    width: 100%;
    max-width: 450px;
  }
}

@media screen and (min-width: 850px) {
  html,
  body {
    margin: 0;
    height: 100%;
    background-image: url("./assets/images/morty.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  .container {
    width: 100%;
    max-width: 500px;
    outline: 2px black solid;
    display: grid;
    place-items: center;
    background: #212f3d6e;
    border-radius: 3px;
  }

  .container:hover {
    border: 3px #7a7d23 solid;
  }

  .title {
    outline: 0px black solid;
    margin: 10px 0 10px 0;
    width: 100%;
    max-width: 450px;
    text-align: center;
    border-radius: 3px;
    background: #2737466b;
    color: white;
  }

  .containerIMG {
    width: 100%;
    max-width: 450px;
  }
}